<div class="col-md-8">
  <h1><%= @kid.name %></h1>

  <!-- display their feeling, their age, and their name -->
  <h3>Age: <%= @kid.age %></h3>
  <p>Feeling: <%= @kid.feeling %></p>
  <h3>Candy Count: <%= @kid.candies.count %></h3>

  <h3>Candies</h3>
  <ul>
    <% @kid.candies.each do |candy| %>
      <li>Name: <%= candy.name %></li>
    <% end %>
  </ul>


  <!-- code the form that will send a patch to "/kids/:id/pig-out"
  give it a consumption key with a value of number of candies to eat 
  type="number" is probably better than type="text" -->
  <h3>Pig Out</h3>
  <div class="col-md-4">
    <form action="/kids/<%= @kid.id %>/pig-out" method="POST" class="form">
      <input type="hidden" name="_method" value="patch">
      <div class="form-group">
        <label for="">Number</label>
        <input type="number" class="form-control" name="consumption">
      </div>
      <input type="submit" class="btn btn-default" value="Submit">
    </form>    
  </div>

  <!-- puts a link to the houses index page here and call the link "Go trick-or-treating" -->  
</div>
